.jumbotron{
    background-color: rgb(135, 223, 235);
    color: black;
    margin-top: 40px;
}
.banner{
    width: 100%;
}

.card-repost {
    flex: 1 250px;
    margin-top: 10px;
}
.Images-size{
    height: 210px;
    width: 100%;
}

footer{
    padding: 10px;
    background-color: rgb(135, 223, 235);
    margin-top: 10px;  
    margin-bottom: 0px;
}

.btn-info{
    width: 100%;
}

.footer-address-icon{
    padding-right: 10px;
}